html{
    height: 100%;
    background-color: white;
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: #0f222d;
    background-size: auto;
  }
  
  .main{
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
.black {
    width: 1150px;
    height:60px;
    background-color: black;
    color:gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 100px;
    padding-top:25px;
}
.text {
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
  h1{
    text-align: center;
    color:black;
  }
  form{
    background-color: #fff;
    padding: 0px;
    padding-left: 5px;
    border-style: solid;
    border-width: 0.5px;
    border-color: gray;
  }
  input[type="text"]{
    width: 550px;
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1em;
    background: #fff;
    color: #2f4f4f;
  }
  .add{
    font-size: 1em;
    color: white;
    background-color: #1c72a8;
    outline: 0;
    border-style: solid;
    border-width: 0.5px;
    border-color: gray;
    margin-left: 30px;
    width: 80px;
    height:35px;
    float:right;
    cursor: pointer;
  }
  .tasksBoard{
    background-color: #fff;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
  
  }
  ul{
    list-style: none;
  }
  li{
    
    padding: 20px;

    font-size: 15px;
    color: #2f4f4f;
    border-style: solid;
    border-width: 0.5px;
    border-color: gray;
    
  }
  
  .delete{
    float:right;
    cursor: pointer;
  }
  label {
    margin-left:30px;
  }
  
  
  
  